<!DOCTYPE html>
<html lang="ko"
      layout:decorate="~{fragments/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<section class="enssel-contact" layout:fragment="content">
    <div class="enssel-contact-img">
        <h1>ENSSEL CONTACT</h1>
        <h3>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
            scrambled it to make a type specimen book.</h3>
    </div>
    <div class="enssel-contact-profile">
        <div class="enssel-contact-title">
            <span></span>
            <h1>연락처</h1>
        </div>
        <div>
            <hr>
        </div>
        <div>

        </div>
    </div>


</section>

</html>