<!DOCTYPE html>
<html lang="ko"
      layout:decorate="~{fragments/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<section class="enssel-page-layout" layout:fragment="content">
    <div class="enssel-page-image">
        <h1>ENSSEL CONTACT</h1>
        <h2>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
            scrambled it to make a type specimen book.</h2>
    </div>
    <div class="enssel-contents">
        <div class="enssel-page-title" style="width: 150px;">
            <span></span>
            <h1>연락처</h1>
        </div>
        <div class="enssel-hr-line">
            <hr>
        </div>
        <div class="enssel-contact-layout">
            <table>
                <tr>
                    <td rowspan="5" id="img"><img src="https://via.placeholder.com/1920x920/000000/111111" alt="..."></td>
                    <th colspan="2" id="title">ENSSEL</th>
                </tr>
                <tr>
                    <td>TEL.</td>
                    <td>031-785-3991</td>
                </tr>
                <tr>
                    <td>FAX.</td>
                    <td>031-785-3992</td>
                </tr>
                <tr>
                    <td>E-MAIL.</td>
                    <td>master@enssel.com</td>
                </tr>
                <tr>
                    <td>HEADQUARTER.</td>
                    <td>경기도 성남시 분당구 성남대로 393<br>
                        (정자동 두산위브파블리온) A동 205호
                    </td>
                </tr>
            </table>
        </div>
    </div>
</section>

</html>