<!DOCTYPE html>
<html lang="ko"
      layout:decorate="~{fragments/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<section class="enssel-page-layout" layout:fragment="content">
  <div class="enssel-page-image">
    <h1>ENSSEL EMPLOYMENT</h1>
    <h2>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
      industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
      scrambled it to make a type specimen book.</h2>
  </div>

  <div class="enssel-contents">
    <div class="enssel-page-title" style="width: 200px;">
      <span></span>
      <h1>오시는길</h1>
    </div>
    <div class="enssel-hr-line">
      <hr>
    </div>
    <div class="enssel-contact-layout">

    </div>
  </div>
</section>

</html>